@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-color: #EDE3D1;
    --text-dark: #0f172a;
    --text-light: #475569;
    --extra-light: #f2f2f2;
    --white: #ffffff;
    --max-width: 1200px;
    --gradient: linear-gradient(135deg, #3E4E50, #2C3E50);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :is(h1, h2, h3, h4, h5, h6){
    text-align: center;
  }

  body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(270deg, #ff0000 , #ffa200); */
  }

  .container{
      max-width: 800px;   
      margin: 0 auto;
      padding: 20px;
      background-color: #EDE3D1;
      /* background: linear-gradient(90deg, #ff0000 , #ffa200); */
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /*---------------------------------------
  #HOME PAGE
  ----------------------------------------*/
  .sectionContainer {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5rem 1rem;
  }

  .sectionContainer__header {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-dark);
  }

  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    white-space: nowrap;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0069d9;
  }

  .img [alt="Hpage"] {
    display: flex;
    width: 100%;
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  ul {
    list-style: none;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Mulish", sans-serif;
  }

  header {
    position: static;
  }

  header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #EDE3D1; */
    /* background: var(--gradient); */
    z-index: -1;
  }

  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
  }

  .navbar{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);
}

  .navbar{
    color: #EDE3D1;
  }
 
  .sectionContainer__header {
    display: grid;
    gap: 2rem 0;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }

  .sectionContainer__header::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: var(--gradient);
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    z-index: -1;  
  }

  .headerContent h1{
    position: relative;
    isolation: isolate;
    margin-bottom: 2rem;
    font-size: 2.75rem;
    font-weight: 800;
    color: var(--text-dark);
    line-height: 3.25rem;
  }

  .headerContent h1::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    height: 4px;
    width: 2rem;
    background-color: var(--primary-color);
  }
  
  .headerContent p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
  }
  
  /* .headerLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .headerLinks img {
    max-width: 125px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  } */

  
  
  @media (width > 540px) {
    .stepsGrid {
      grid-template-columns: repeat(2, 1fr);
    }

    .table-container {
      overflow-x: auto;
    }
  }
  
  @media (width > 768px) {
    

    .sectionContainer__header {
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
    }
  
    .sectionContainer__header::before {
      right: 5rem;
      width: calc(50% - 4rem);
      height: 100%;
    }
  
    .headerImage {
      grid-column: 3/6;
    }
  
    .headerContent {
      grid-area: 1/1/2/3;
    }
  
    /* .stepsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .serviceContainer {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .experienceContent img {
      opacity: 1;
    }
  
    .experienceCard:nth-child(1) {
      left: 5rem;
    }
  
    .experienceCard:nth-child(3) {
      left: 5rem;
    }
  
    .experienceCard:nth-child(4) {
      right: 5rem;
    }
  
    .experienceCard:nth-child(6) {
      right: 5rem;
    }
  
    .downloadGrid {
      margin-block: 4rem;
      padding-inline: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .downloadImage {
      display: flex;
      position: relative;
      isolation: isolate;
    }
  
    .downloadImage img {
      position: absolute;
      max-width: 300px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
    } */

    .table-container {
      overflow-x: auto;
    }
  
  }

  /*---------------------------------------
  #ALL IMAGE
  ----------------------------------------*/
  img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }
  /* LOGO */
  img[alt="logo"] {  
    width: 5rem;
  }

  .wrapper {
      display: grid;
      grid-template-rows: auto minmax(100dvh, 100%) auto;
  }

  /*---------------------------------------
  Contact
  ----------------------------------------*/
  a {
  	cursor: pointer;
    transition: all 200ms linear;
  }
  a:hover {
  	text-decoration: none;
  }
  .link {
    color: #c4c3ca;
  }
  .link:hover {
    color: #ffeba7;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
  }
  h4 {
    font-weight: 600;
  }
  h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .section{
    position: relative;
    width: 100%;
    display: block;
  }
  .full-height{
    min-height: 100vh;
  }
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }
  .checkbox:checked + label,
  .checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
  }
  .checkbox:checked + label:before,
  .checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
  }
  .checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
  }
  .card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
  }
  .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;    
    top: 0;
    left: 0;  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; 
  }
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
  }
  .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
  }
  .center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }
  .form-group{ 
    position: relative;
    display: block;
      margin: 0;
      padding: 0;
  }
  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .form-style:focus,
  .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

  .form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

  .btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }
  .btn:active,
  .btn:focus{  
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }
  .btn:hover{  
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }

  /*---------------------------------------
  #CARD  
----------------------------------------*/
.card {
  width: 300px; 
  background-color: var(--second-bg-color);
  border: 1px solid var(--main-color);
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
  overflow: hidden; 
  margin: 20px;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  flex-basis: calc(29% - 20px);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.card-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd; /* Optional border for the image */
}

.card-content {
  padding: 20px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1.1em;
  color: #666;
  line-height: 1.4;
}

.card-link {
  display: inline-block;
  color: #007bff; /* Link color */
  text-decoration: none;
  margin-top: 10px;
}

.card-link:hover {
  text-decoration: underline; /* Underline on hover */
}


.hero-section {
  background: linear-gradient(135deg, #EDE3D1, #D95D39);
  color: #FFFFFF;
  padding: 100px 20px;
  text-align: center;
}

.button-primary {
  background: linear-gradient(135deg, #2C5F2D, #5DADE2);
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

